:root {
  --gunmetal: #5d6e6a;
  --fontColor: #4a4a4a;
  --fsBase: 16px;
  --fsL:33px;
  --success: #0bd4a4;
  --danger: #d0021b;
  --primary: #0cb7f5;
  --softgrey:#dadada;
  --white:#fff;
  --black:#333;  
}
